@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    align-items:center;
    justify-content: center;
    padding:0;
    margin:0;
    background: url('../img/background.jpg')center center no-repeat;
    background-size: cover;
    color:#fafafa;
    font-family: 'Press Start 2P', cursive;
}
.card{
    margin-top:50px;
    background: #424040;
    opacity: 0.9;
    background-size: cover;
    width:50%;
    min-width:300px;
    min-height:800px;
    border-radius:10%;
}

.center{
    text-align: center;
}
/*---------------------------------------------Pop Up Window --*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#424040;
  display:none;
}

#boxes .window {
  position: absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius:15px;
  border-color: #424040;
  text-align:center;
}
 
#boxes #dialog {
  width:90vw;
  height:500px;
  padding:10px;
  background: radial-gradient(#424040, transparent);
  font-size: larger;
}

#popupfoot {
  font-size:16pt;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  bottom:0px;
  width:100%;
  height: 70px;
  text-align: center;
}
.pop-up{
    display:flex;
    justify-content: center;
    align-items: center;
}
#introVid{
    margin-bottom:20px;
    height:450px;
    width:70%;
    border-radius: 5%;
}
@media only screen and (max-width: 800px) {
    #introVid{
        width:80vw;
    }
}
/*--------------------------------------------- End Pop Up Window --*/
/*--------------------------Main Menu */
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:50px;
}
.menu h1{
    text-shadow: 0 5px 20px rgba(0, 201, 10, 0.8);
}
.instructions,
.settings,
.content,
.contact,
.social,
.credits{
    display:block;
}
/*-------------------------------Buttons --*/
.popup-button{
    text-align: center;
    padding:10px;
    width:300px;
    height: 75px;
    font-size: large;
    background: #424040;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(0, 31, 209, 0.8);
    border: 2px dashed #000;
    text-decoration: none;
    color: rgb(0, 201, 10);
}
.popup-button:hover{
    text-decoration: none;
    background: rgba(0, 201, 10, 0.8);
    color: rgb(0, 31, 209);
    border: 2px dashed #000;
    box-shadow: 0 5px 20px rgba(0, 201, 10, 0.8);
    font-size:larger;
    transition: all 2s ease-in-out;
}
.retro-button{
    color:#fafafa;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    width:250px;
    font-size: large;
    background: black;
    border-radius:5%;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.8);
}
.draw-border {
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  padding: 5px 10px 5px 10px;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: rgb(201, 173, 13);
}

.draw-border:hover::before,
.draw-border:hover::after {
    border: 2px solid rgb(0, 201, 10);
    box-shadow: 0 5px 20px rgba(0, 201, 10, 0.8);
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.retro-buttons{
    margin:0 auto;
    text-align: center;
    padding:10px;
    list-style: none;
    width:auto;
    font-size: large;
    background: gray;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 2px dashed black;
}
#start-game{
    margin-top:100%;
    font-size: 300%;
    width:280px;
    height:200px;
}
button, .btn{
    display: flex;
    margin:0 auto;
}
.back{
    margin-top:50px;
    z-index:9999;
}
/*-------------------------------------------Sound Button----*/
#sound button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:black;
    background:grey;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
#mute button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:grey;
    background: black;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
.sound audio{
    display:none;
}


/* -----------------------------Game ---*/
.game{
    display:flex;
    align-items: center;
    justify-content: center;
}
#game-over{
    text-align: center;
    margin-top:50px;
}
.content button{
    margin:0 auto;
}
canvas{
    height:600px;
    width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player-score{
    text-align: center;
}
#yes:hover{
    background: green;
    transition-duration: 2s;   
}
#no:hover{
    background: red;
    transition-duration: 2s;   
}
/*-----------------------------Screens --*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.instructions ul{
    text-align: center;
    list-style: none;
}
.instructions{
    text-align: justify;
    width: 50%;
    min-width: 300px;
    text-shadow: 5px 5px 30px #000;
}
/*Credits*/
.credits{
    text-align: center;
}
/* Contact form */

.center-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width:80%;
}
#email{
    width:80%;
    text-align: center;
}
/*Social*/
.center i{
    font-size: 200%;
    color:white;
}
.center:hover i{
    color: black;
    text-shadow: 0 5px 20px rgb(0, 201, 10);
    transition: all 0.5s ease-in-out;
    font-weight: 700;
}

/*----------------Social ---*/
.social{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    display:flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.social-container{
    min-height:100%;
    min-width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
}
.social-card{
    transform-style: preserve-3d;
    margin-top:50px;
    margin-bottom:50px;
    height:600px;
    width:300px;
    background:#424040;
    opacity:1;
    box-shadow: 0 20px 20px rgba(0,0,0,0.8), 0 0 50px rgba(0, 201, 10, 0.8);
}
.pic{
    min-height: 35%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.pic img{
    width:200px;
    height:200px;
    z-index: 1;
}
.circle{
    width:150px;
    height:150px;
    background: linear-gradient(to right,  #169b62 30%, #ffffff 50%, #ff883e 70%);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}
.info h3{
    font-size: 200%;
}
.info p{
    color: rgb(0, 201, 10);
}
.sizes{
    display:flex;
    justify-content: space-between;
    font-size:300%;
}
.sizes button{
    margin-bottom: 20px;
    background:none;
    border:none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
}
.purchase button{
    text-align: center;
    width:80%;
    background: none;
    font-weight: bold;
}