@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding:0;
    margin:0;
    color:black;
    font-family: 'Press Start 2P', cursive;
}

/*---------------------------------------------Pop Up Window --*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:90vw;
  height:550px;;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius:15px;
  border-color: rgb(168, 0, 140);
  text-align:center;
}
 
#boxes #dialog {
  width:90vw;
  height:500px;
  padding:10px;
  background: radial-gradient(#000, transparent);
  font-size: larger;
}

#popupfoot {
  font-size:16pt;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  bottom:0px;
  width:100%;
  height: 70px;
  text-align: center;
}
.pop-up{
    display:flex;
    justify-content: center;
    align-items: center;
}
#introVid{
    margin-bottom:20px;
    height:450px;
    width:70%;
    border-radius: 5%;
}
@media only screen and (max-width: 800px) {
    #introVid{
        width:80vw;
    }
}
/*--------------------------------------------- End Pop Up Window --*/

/*-------------------------------------------Sound Button----*/
#sound button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:black;
    background:peru;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
#mute button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:black;
    background:peru;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
/*--------------------------Main Menu */
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.retro-button:hover{
    background:#424040;
    color:white;
}
/*-------------------------------Buttons --*/
.popup-button{
    text-align: center;
    padding:10px;
    width:300px;
    height: 75px;
    font-size: large;
    background: orchid;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 5px dashed black;
    text-decoration: none;
}
.retro-button{
    text-align: center;
    width:250px;
    font-size: large;
    background: orchid;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 5px dashed black;
}

.retro-buttons{
    margin:0 auto;
    text-align: center;
    padding:10px;
    list-style: none;
    width:auto;
    font-size: large;
    background: orangered;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 5px dashed black;
}
.carouselButton{
    display:inline;
}

/* -----------------------------Sound ---*/
.sound audio{
    display:none;
}

/*----------------------------- Sections---*/

#setting{
    display: none;
}
.center{
    margin:0 auto;
    display:flex;   
}
#start-game{
    margin:0 auto;
    display:flex;
}
#player-score{
    text-align: center;
    width: 300px;
    margin: 0 auto;  
}
#settings{
    margin:0 auto; 
    display:flex;
}

#blocks-away{
    width:300px;
    height:600px;
    display:flex;
    margin:0 auto;
}
.key-buttons{
    width:300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.key-buttons button{
    width:60px;
    height:35px;
}

#game-over{
    text-align: center;
    margin:0 auto;
}
#game-over option{
    height:60px;
    width: 100px;
    font-weight: bolder;
    border: 10px dashed rgb(36, 0, 168);
    border-radius: 20%;
    margin-right: 30px;
}
#yes:hover{
    transform: rotate(5deg);
}
#no:hover{
    transform: rotate(5deg);
}
#yes{
    margin:0 auto;
    text-align: center;
    padding:10px;
    list-style: none;
    width:auto;
    font-size: large;
    background:#00ff59;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 5px dashed black;
}
#no{
    margin:0 auto;
    text-align: center;
    padding:10px;
    list-style: none;
    width:auto;
    font-size: large;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 5px dashed black;
    background: #cc0e07;
}