@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    scrollbar-width: thin;
    scrollbar-color: rgb(0,0,0) rgb(0, 201, 10);
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  margin-top:50px;
  margin-bottom:50px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(0,0,0);
  border-radius: 20px;
  border: 3px solid rgb(0, 201, 10);
}

body {
    min-height:100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    padding:0;
    margin:0;
    background: url('../img/background.jpg')center center no-repeat;
    background-size: cover;
    color:#fafafa;
    font-family: 'Press Start 2P', cursive;
}

.card{
    margin-top:50px;
    background: #424040;
    opacity: 0.9;
    background-size: cover;
    width:50%;
    min-width:300px;
    height:800px;
    border-radius:10%;
    overflow-y: auto;
}

.center{
    text-align: center;
    padding-right: 10px;
    padding-left:10px;
}
.space-around{
    margin-top: 35px;
    margin-bottom: 35px;
}
.container h1{
    padding-top:50px;
    text-align: center;
}
/* ------------divider-------------*/
.div{
    height:5px;
    width:100px;
    background-color:rgb(0, 201, 10);
    box-shadow:0px 2px 10px rgba(0, 0, 0, 0.8), 0px 0px 40px rgba(0, 0, 0, 0.8);
}

/*---------------------------------------------Pop Up Window --*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#424040;
  display:none;
}

#boxes .window {
  position: absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius:15px;
  border-color: #424040;
  text-align:center;
}
 
#boxes #dialog {
  width:90vw;
  height:500px;
  padding:10px;
  background: radial-gradient(#424040, transparent);
  font-size: larger;
}

#popupfoot {
  font-size:16pt;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  bottom:0px;
  width:100%;
  height: 70px;
  text-align: center;
}
.pop-up{
    display:flex;
    justify-content: center;
    align-items: center;
}
#introVid{
    margin-bottom:20px;
    height:450px;
    width:70%;
    border-radius: 5%;
}
@media only screen and (max-width: 800px) {
    #introVid{
        width:80vw;
    }
}
/*--------------------------------------------- End Pop Up Window --*/
/*--------------------------Main Menu */
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top:50px;
}
.title-style{
    color:#000;
    text-shadow: 0px 2px 10px rgba(0, 201, 10, 0.8), 0px 0px 40px rgba(0, 201, 10, 0.8);
}
.instructions,
.settings,
.content,
.contact,
.social,
.credits{
    display:block;
}
/*-------------------------------Buttons --*/
.popup-button{
    text-align: center;
    padding:10px;
    width:300px;
    height: 75px;
    font-size: large;
    background: #424040;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(0, 31, 209, 0.8);
    border: 2px dashed #000;
    text-decoration: none;
    color: rgb(0, 201, 10);
}
.popup-button:hover{
    text-decoration: none;
    background: rgba(0, 201, 10, 0.8);
    color: rgb(0, 31, 209);
    border: 2px dashed #000;
    box-shadow: 0 5px 20px rgba(0, 201, 10, 0.8);
    font-size:larger;
    transition: all 2s ease-in-out;
}
.retro-button{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    width:250px;
    font-size: large;
    background: linear-gradient(to right, #000 2%, rgb(0,201,10) 15%, rgb(0,201,10) 85%, #000 98%);
    color:#000;
    text-shadow: 0px 2px 10px rgba(0, 201, 10, 0.8), 0px 0px 40px rgba(0, 201, 10, 0.8);
    border-radius:5%;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.8);
}
.retro-button:hover{
    transition: all 1s ease-in-out;
    background: linear-gradient(to right, rgb(0,201,10) 2%, rgb(0,0,0) 15%, rgb(0,0,0) 85%, rgb(0,201,10) 98%);
}
.draw-border {
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  padding: 5px 10px 5px 10px;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: rgb(0,201,10);
}

.draw-border:hover::before,
.draw-border:hover::after {
    border: 2px solid rgb(0, 201, 10);
    box-shadow: 0 5px 20px rgba(0, 201, 10, 0.8);
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.retro-buttons{
    margin:0 auto;
    text-align: center;
    padding:10px;
    list-style: none;
    width:auto;
    font-size: large;
    background: gray;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 2px dashed black;
}
#start-game{
    margin-top:100%;
    font-size: 300%;
    width:280px;
    height:200px;
}
button, .btn{
    display: flex;
    margin:0 auto;
}
.back{
    margin-top:50px;
}
.key-buttons button{
    width: 58px;
    height:50px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    padding-top:9px;
}

/*-------------------------------------------Sound Button----*/
#sound button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:black;
    background:grey;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
#mute button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:grey;
    background: black;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
.sound audio{
    display:none;
}

/* -----------------------------Game ---*/
.game{
    display:flex;
    align-items: center;
    justify-content: center;
}
#game-over{
    text-align: center;
    margin-top:50px;
}
.content button{
    margin:0 auto;
}
canvas{
    height:600px;
    width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px rgb(0, 201, 10);
    border-radius:10px;
}
#player-score{
    text-align: center;
}
#yes:hover{
    background: green;
    transition-duration: 2s;   
}
#no:hover{
    background: red;
    transition-duration: 2s;   
}
.key-buttons{
    margin-bottom: 75px;
}
/*-----------------------------Screens --*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*------------------Instructions Screen ----*/
.instructions ul{
    text-align: center;
    list-style: none;
}
.instructions{
    text-align: center;
    width: 50%;
    min-width: 300px;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.instructions h1, h4{
    color:#000;
    text-shadow: 0px 2px 10px rgba(0, 201, 10, 0.8), 0px 0px 40px rgba(0, 201, 10, 0.8);
}

/* Contact form */
.center-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width:80%;
}
#email{
    display: block;
    width:100%;
    text-align: center;
}
#fullname{
    margin:0 auto;
    width:80%;
    margin-bottom: 25px;
}
#emailaddress{
    margin:0 auto;
    width:80%;
    margin-bottom: 25px;
}
#projectsummary{
    margin:0 auto;
    width:80%;
    margin-bottom: 25px;
}
#send{
    margin:0 auto;
    width:50%;
    background: linear-gradient(to right, rgb(240,165,95) 2%, rgb(240,90,90) 5%, rgb(240,90,90) 95%, rgb(240,165,95) 98%);
    color: #000;
}
#send:hover{
    background: linear-gradient(to right, rgb(240,90,90) 2%, rgb(240,165,95) 5%, rgb(240,165,95) 95%, rgb(240,90,90) 98%);
    color: #fff;
}

/*Credits*/
.credits{
    text-align: center;
}


/*----------------Social ---*/
.social{
    height:100%;
    width:95%;
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
    display:block;
    perspective: 1000px;
}
.social h1{
    text-align: center;
}
.social-container{
    min-height:100%;
    min-width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.social-card{
    transform-style: preserve-3d;
    margin-top:50px;
    margin-bottom:50px;
    height:600px;
    width:300px;
    background:#000;
    opacity:1;
    box-shadow: 0 20px 20px rgba(0,0,0,0.8), 0 0 50px rgba(0, 201, 10, 0.8);
    border-radius:30px;
}
.pic{
    min-height: 35%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.pic img{
    width:200px;
    transition: all 1.75s ease-out;
    z-index: 1;
}
.circle{
    width:150px;
    height:150px;
    background: linear-gradient(to right,  #169b62 30%, #ffffff 50%, #ff883e 70%);
    box-shadow: 5px 5px 50px rgba(0, 201, 10, 0.9);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}
.info h3{
    font-size: 200%;
    text-align: center;
    transition: all 1s ease-out;
}
.info p{
    color: #fff;
    text-align: center;
}
.sizes{
    display:flex;
    justify-content: space-around;
    top:0;
    font-size:300%;
}
.sizes button{
    height:50px;
    margin-bottom: 20px;
    background:none;
    border:none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
    transition: all 0.75s ease-out;
    border-radius: 20px;
}
.social-media{
    top:0;
    height:30px;
    width:20%;
    color:slateblue;
    border:2px solid blueviolet;
}
.purchase button{
    text-align: center;
    width:80%;
    background: none;
    font-weight: bold;
    transition: all 0.5s ease-out;
}
.mail{
    color:white;
}

/*----media queries-----*/
@media screen and (max-width:768px){
    .card{
        width:90vw;
    }
}
@media screen and (max-width:1100px){
    .instructions{
        width:100%;
        display:block;
        margin:0 auto;
    }
    .instructions h1{
        width:100%;
        font-size: 150%;
    }
    .instructions h4{
        width:100%;      
        font-size: 150%;
    }
    .instructions p, ul{
        width:100%;
        font-size: 100%;
    }
}
@media screen and (max-width:675px){
    .instructions{
        width:100%;
        display:block;
        margin:0 auto;
    }
    .instructions h1{
        width:100%;
        font-size: 100%;
    }
    .instructions h4{
        width:100%;      
        font-size: 100%;
    }
    .instructions p, ul{
        width:100%;
        font-size: 70%;
    }
}