@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    padding:0;
    margin:0;
    background: rgb(196,207,161);
    color:black;
    font-family: 'Press Start 2P', cursive;
}

/*---------------------------------------------Pop Up Window --*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:90vw;
  height:550px;;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius:15px;
  border-color: rgb(168, 0, 140);
  text-align:center;
}
 
#boxes #dialog {
  width:90vw;
  height:500px;
  padding:10px;
  background: radial-gradient(#000, transparent);
  font-size: larger;
}

#popupfoot {
  font-size:16pt;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  bottom:0px;
  width:100%;
  height: 70px;
  text-align: center;
}
.pop-up{
    display:flex;
    justify-content: center;
    align-items: center;
}
#introVid{
    margin-bottom:20px;
    height:450px;
    width:70%;
    border-radius: 5%;
}
@media only screen and (max-width: 800px) {
    #introVid{
        width:80vw;
    }
}
/*--------------------------------------------- End Pop Up Window --*/
/*--------------------------Main Menu */
.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

.back{
    display:block;
}
.instructions,
.settings,
.content,
.contact,
.social,
.credits{
    display:block;
}
/*-------------------------------Buttons --*/
.popup-button{
    text-align: center;
    padding:10px;
    width:300px;
    height: 75px;
    font-size: large;
    background: orchid;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 5px dashed black;
    text-decoration: none;
}
.retro-button{
    text-align: center;
    width:250px;
    font-size: large;
    background: grey;
    border-radius:5%;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.8);
    border: 3px dashed black;
}
.retro-button:hover{
    background:#424040;
    color:white;
    transition-duration: 1s; 
}

.retro-buttons{
    margin:0 auto;
    text-align: center;
    padding:10px;
    list-style: none;
    width:auto;
    font-size: large;
    background: gray;
    border-radius:20%;
    box-shadow: 0 5px 20px rgba(240,60,50, 0.8);
    border: 2px dashed black;
}
/*-------------------------------------------Sound Button----*/
#sound button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:black;
    background:grey;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
#mute button{
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15px;
    right:15px;
    width:45px;
    height: 45px;
    border-radius: 50%;
    color:grey;
    background: black;
    z-index:9000;
    text-align: center;
    font-size: 22px;
}
.sound audio{
    display:none;
}


/* -----------------------------Game ---*/
.game{
    display:flex;
    align-items: center;
    justify-content: center;
}
.content button{
    margin:0 auto;
}
canvas{
    height:600px;
    width:300px;
}
#player-score{
    text-align: center;
}
#yes:hover{
    background: green;
    transition-duration: 2s;   
}
#no:hover{
    background: red;
    transition-duration: 2s;   
}
/*-----------------------------Screens --*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.instructions ul{
    text-align: center;
    list-style: none;
}